.co-work-main {
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 0 20px rgba(198, 182, 219, 0.637);
}
.cowork-container {
  display: flex;
  gap: 10rem;
}
.cowork-form input {
  width: 300px;
  height: 30px;
  border-radius: 3px;
}
.left-side-cowork {
  margin-left: 5rem;
}
.right-side-cowork {
  margin-right: 5rem;
}
.co-work-heading {
  font-size: 28px;
  margin: 0px;
  margin-bottom: 1rem;
  color: #08525e;
  text-align: center;
}

.cowork-form label {
  margin-bottom: 5px;
  margin-left: 2px;
  text-align: left;
}

.cowork-submit {
  height: 35px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
  left: 26rem;
}
.success-message {
  color: green;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-left: 3px;
}
