.sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 40px;
  padding: 12px;
  width: 195px;
  height: 80%;
  position: fixed;
  top: 78px;
  background-color: rgba(207, 204, 221, 0.26);
  border-right: 1px solid black;
}
.sidebar-list {
  color: rgb(8, 8, 8);
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
}
.sidebar-list:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: rgba(5, 5, 116, 0.034);
  border-radius: 5px;
}

/* .sidebar {
  border-right: 1px solid black;
  width: 16%;
  background-color: white;
}

.sidebar ul li {
  padding: 0.5rem;
  text-align: center;
  list-style: none;
  width: 180px;
  font-weight: bolder;
  font-size: larger;
  margin: 0.5rem;
  margin-left: -30px;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #007bff;
} */
