.vendor-canditate-main {
  padding: 20px;
  border: 2px solid black;
  text-align: center;
  position: relative;
  right: 15rem;
}
.canditate-heading {
  font-size: 28px;
  color: #032e35;
  position: relative;
  bottom: 10px;
}
.candidate-input-fields {
  gap: 0px;
  width: 290px;
  height: 30px;
  border-radius: 2px;
}
.candidate-fields {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 30px;
  gap: 90px;
}
.candidate-input-fields .word {
  position: relative;
  right: 90px;
}
.candidate-label {
  font-size: 18px;
}
.candidate-submit {
  background-color: #04661b;
  width: 90px;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  bottom: 10px;
}
.candidate-er-msg {
  color: red;
  text-align: left;
  padding: 0px;
  margin: 0px;
  margin-left: 0.5rem;
  font-size: 14px;
}
.word {
  padding: 0px;
  margin-left: 0px;
  position: relative;
  left: 30px;
}
