.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0%;
  padding: 0%;
  position: fixed;
  top: 0;
  z-index: 9999;
}
a {
  text-decoration: none;
  color: black;
}
li,
ul {
  list-style: none;
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 242, 242);
  color: rgba(10, 10, 10, 0.918);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -1.1rem;
  position: relative;
  text-align: center;
}
.company-name {
  position: relative;
  right: 4rem;
}

.content-navbar {
  display: flex;
  flex-direction: column;
}
.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(228, 232, 235);
  background-color: rgb(15, 15, 15);
  position: relative;
  margin: 0px;
  gap: 3rem;
}
.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin: 0rem;
  cursor: pointer;
  font-weight: 400;
}

.dropdown-list {
  display: none;
  position: absolute;
  margin-inline-start: 10px;
}
.nav-item:hover {
  cursor: pointer;
  background-color: rgba(236, 209, 236, 0.014);
  border-radius: 5px;
}
.nav-item:hover .dropdown-list {
  display: block;
}

.list-items1,
.list-items2,
.list-items3 {
  background-color: rgb(184, 189, 240);
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  width: 130px;
  top: 85px;
  right: 55px;
  padding: 10px;
  border-radius: 3px;
}

.sub-dropdown-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  left: 100%;
}
.sub-dropdown-list:hover {
  display: flex;
  position: absolute;
}

.sub-dropdown-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  left: 100%;
  border-radius: 3px;
}
.nav-item:hover .sub-dropdown-list {
  display: none;
}
.submenu:hover .sub-dropdown-list {
  display: block;
  position: absolute;
  left: 0%;
}
.list-items1:hover a,
.list-items2:hover a,
.list-items3:hover a {
  color: rgb(255, 255, 255);
}
.submenu:hover a {
  color: rgb(0, 0, 0);
}
.sub-list-items1,
.sub-list-items2,
.sub-list-items3 {
  cursor: pointer;
  position: relative;
  font-weight: 500;
  color: black;
  width: 120px;
  left: 81%;
  border-radius: 4px;
  bottom: 30px;
  padding: 7px;
  border: 1px solid rgb(245, 245, 245);
  background-color: rgb(243, 240, 240);
}
.list-items1:hover,
.sub-list-items1:hover {
  color: rgb(242, 242, 245);
  background-color: rgb(26, 2, 110);
  cursor: pointer;
}
.sub-list-items1:hover a,
.sub-list-items2:hover a,
.sub-list-items3:hover a {
  color: aliceblue;
}
.list-items2:hover,
.sub-list-items2:hover {
  color: rgb(242, 242, 245);
  background-color: #f3b144;
  cursor: pointer;
}
.list-items3:hover,
.sub-list-items3:hover {
  color: rgb(242, 242, 245);
  background-color: #096634;
  cursor: pointer;
}

.user-icon {
  display: flex;
  position: absolute;
  left: 80rem;
}
