.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  position: fixed;
  z-index: 9999;
}
a {
  text-decoration: none;
  color: black;
}
li,
ul {
  list-style: none;
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 78%;
}
.text {
}
.company-name-homepage {
  padding: 11px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

.content-navbar {
  display: flex;
  flex-direction: column;
}
.nav-list {
  display: flex;
  color: white;
  background-color: black;
  column-gap: 3rem;
  padding: 13px;
  margin-top: 0px;
}
.dropdown-list {
  display: none;
  position: absolute;
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item:hover .dropdown-list {
  display: block;
}

.list-items1,
.list-items2,
.list-items3 {
  background-color: rgb(250, 247, 247);
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  width: 120px;
  padding: 10px;
  top: 15px;
  right: 40px;
  border-radius: 2px;
}

.sub-dropdown-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
}
.sub-dropdown-list:hover {
  display: flex;
  position: absolute;
}

.sub-dropdown-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
}
.nav-item:hover .sub-dropdown-list {
  display: none;
}
.submenu:hover .sub-dropdown-list {
  display: block;
  position: absolute;
}
.list-items1:hover a,
.list-items2:hover a,
.list-items3:hover a {
  color: rgb(255, 255, 255);
}
.submenu:hover a {
  color: rgb(0, 0, 0);
}
.sub-list-items1,
.sub-list-items2,
.sub-list-items3 {
  cursor: pointer;
  position: relative;
  font-weight: 500;
  color: black;
  background-color: rgb(250, 247, 247);
  width: 120px;
  padding: 8px;
  left: 90px;
  bottom: 25px;
  border-radius: 2px;
}
.list-items1:hover,
.sub-list-items1:hover {
  color: rgb(242, 242, 245);
  background-color: rgb(26, 2, 110);
  cursor: pointer;
}
.sub-list-items1:hover a,
.sub-list-items2:hover a,
.sub-list-items3:hover a {
  color: aliceblue;
}
.list-items2:hover,
.sub-list-items2:hover {
  color: rgb(242, 242, 245);
  background-color: #f3b144;
  cursor: pointer;
}
.list-items3:hover,
.sub-list-items3:hover {
  color: rgb(242, 242, 245);
  background-color: #096634;
  cursor: pointer;
}

.user-icon {
  display: flex;
  position: relative;
}
