.main-container {
  height: 100vh;
  width: 100vw;
  align-content: center;
}
.Container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 90vh;
  position: relative;
  left: 12rem;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(41, 2, 92, 0.474);
  /* 5px right, 5px down, 5px blur, 50% opacity gray shadow */
}
.LeftContainer_header {
  color: white;
  font-size: 2.604vw;
  margin: 3% 0% 0% 6%;
  padding: 15px;
  margin-top: 50px;
}
.logo {
  width: 80%;
  height: 25%;
  margin: 5% 0% 1% 10%;
}
.Company_name {
  color: white;
  margin: 5% 0 0 0%;
}
.LeftContainer {
  border: 1px solid black;
  width: 70vw;
  background-color: black;
  padding: 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.RightContainer {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
