.signup_page {
  display: flex;
  width: 35vw;
  height: 87.5vh;
  background-color: aliceblue;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 8px;
}
.signup-text {
  color: rgb(2, 2, 107);
  font-size: 30px;
  position: relative;
  top: 10px;
  right: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
}

.sign_up_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-fields {
  padding: 15px;
}
.input-text {
  width: 290px;
  height: 29px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgba(245, 248, 248, 0.877);
  margin: 5px;
  position: relative;
  left: 60px;
  border: 2px solid rgb(7, 31, 12);
}
.signup-button {
  width: 10vw;
  height: 6vh;
  border-radius: 18px;
  background-color: rgb(2, 112, 26);
  padding: 10px;
  position: relative;
  font-weight: 500;
  top: 5px;
  right: 10px;
}

.errormsg {
  color: red;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  position: relative;
  left: 70px;
  width: 380px;
}
.login-text {
  position: relative;
  top: 8px;
  left: 0px;
}
